table tbody tr {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

table thead td {
    /* border-right: 1px solid #000000 !important; */
    border-collapse: collapse;
}

.lastTd {
    border: none !important;
}

table tbody td {
    border-right: 1px solid black;
    border-collapse: collapse;
}

table thead td,
table tbody td {
  padding: 4px 10px 2px 10px;
  white-space: nowrap;
  /* white-space: nowrap; */
}

table tbody tr:hover {
  color: black !important;
}

* select option {
  font-size: 10px !important;
  padding: 10px;
}
