@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: black;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0 !important;
}

.hideScroll::-webkit-scrollbar {
    display: none;
}

.smooth {
  transition: all .3s ease-in;
}

.dashboard select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.dashboard select option {
  background-color: black;
}

.authContainer input[type="checkbox"] {
  accent-color: #008CFF; 
}

.navIconTitle {
  z-index: 200 !important;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}

.fileDiv {
  scrollbar-width: thin !important;
}